.container {
  opacity: 0.9;
  max-width: 45%;
  height: auto;
  min-height: 600px;
  min-width: 400px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  position: relative;
  border-radius: 20px;
  border: 5px solid;
  border-color: #579be0;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
